<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.velocee.sdk"
    android:versionCode="134"
    android:versionName="1.0.0.134" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />
    
    <uses-permission android:name="android.permission.INTERNET" />
<!--     <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    
    <application
        android:allowBackup="true">
        
        <service android:name="com.velocee.sdk.VeloceeSDKService" />
        
        <receiver android:name="com.velocee.sdk.VlcMediaController">
    		<intent-filter>
        	<action android:name="android.intent.action.MEDIA_BUTTON" />
    		</intent-filter>
		</receiver>
        
    </application>
</manifest>
